!!!
%html
  %head{lang: "ja"}
    %meta{charset: "utf-8"}
    %script{type: "text/javascript", src: "./assets/js/jquery-3.2.0.min.js"}
    %script{type: "text/javascript", src: "./assets/js/bootstrap.min.js"}
    %link{rel: "stylesheet", type: "text/css", href: "./assets/css/bootstrap.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "./assets/css/main.css"}
  %body
    %p hello world!
