////////////////////
//// Variables  ////
////////////////////

$main_color: #e18f9b;
$sub_color: #e5c5ca;
$main_text_color: #444;
$sub_text_color: #f5f5f5;
$twitter_color: #00aced;

////////////////////
////  General   ////
////////////////////

body {
	font-family: 'anito-std'
}

h1, h2, h3, p, li {
	color: $main_text_color;
}

h1 {
	margin: 50px 0 50px 0;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

p, li {
	font-size: 18px;
}

a {
	color: $main_color;

	&:hover, &:active {
		color: $sub_color;
	}
}

footer {
	padding: 10px;
	margin-top: 10px;

	span {
		font-family: 'Courgette', cursive;
	}

	.titamas {
		display: block;

		img {
		  height: 60px;
		}

		text-align: center;
		margin: 0 auto;
	}
}

.btn-default {
	margin-top: 10px;
	padding: 15px;
	font-size: 20px;
	background: $main_color;
	border: none;
	color: white;

	&:hover, &:active, &:link, &:visited {
		color: white !important;
		background: $sub_color !important;
	}
}

.text-center {
	text-align: center;
}

///////////////////////
//// Navigationbar ////
///////////////////////

.navbar {
	background-color: white;

	.navbar-brand {
		font-family: 'Courgette', cursive;
		color: $main_color;
	}

	.navbar-position {
		position: relative;
		margin: 0 auto;
	}

	.navbar-nav .twitter {
		color: $twitter_color !important;
	}

	.navbar-nav a {
		font-size: 13px;
		color: $main_text_color !important;

		&:hover {
			color: $main_color !important;
		}
	}
}

////////////////////
/////   Intro   ////
////////////////////

#intro {
	margin-top: 50px;

	.headerImage {
		width: 100%;
	}
}

////////////////////
/////   Info    ////
////////////////////

#info {
	padding-bottom: 50px;

	@media screen and (max-width:766px) {
		p {
			text-align: left;
		}
	}
}


////////////////////
///   Outline   ////
////////////////////

#outline {
	background: $main_color;
	padding-bottom: 50px;

	.icon {
		margin-right: 10px;
		color: $main_color;
	}

	li {
		text-align: left;
		line-height: 1.7;
		font-size: 15px;
	}

	.ggmap {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;

		iframe, object, embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.card-parent {
		padding: 0;
	}

	.card {
		padding: 10px;
		border-radius: 5px;
		background-color: white;
		margin: 0 5px 30px 5px;
	}

	@media screen and (min-width:995px) {
		.card {
		  height: 400px;
		}
	}

	@media screen and (max-width:994px) {
		.card {
		  height: 380px;
		}
	}

	@media screen and (max-width:766px) {
		.card {
		  margin: 0 20px 30px 20px;
			height: auto;
		}
	}
}

////////////////////
////   Result   ////
////////////////////

#results {
	.thumbnail img {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.winner {
		font-size: 30px;
		margin-right: 5px;
		color: goldenrod;
	}

	.name {
		font-size: 30px;
	}

	.desc {
		margin-bottom: 0;
	}

	.title {
		margin-top: 20px;
		margin-bottom: 0;
	}

	.comment {
		text-align: left;
		margin-top: 5px;
		font-size: 14px;
	}
}

////////////////////
////  Schedule   ///
////////////////////

#schedule {
	background: $main_color;
	padding-bottom: 50px;

	.icon {
		vertical-align: middle;
		font-size: 50px;
		color: $sub_text_color;
	}

	.winner {
		font-size: 30px;
		margin-right: 5px;
		color: goldenrod;
	}

	.list-group {
		margin-bottom: 0;
	}

	.schedule-item-date {
		background-color: $sub_color;
		border-radius: 75px;
		padding: 20px;
		vertical-align: middle;
		width: 150px;
		height: 150px;
		float: left;

		.start {
			margin-top: 30px;
		}

		.final {
			margin-top: 45px;
		}
	}

	.schedule-item-content {
		margin-top: 40px;
		float: left;
	}

	@media screen and (max-width:766px) {
		.schedule-item-content {
			float: none;
		}

		.schedule-item-date {
			float: none;
			margin: 0 auto;
		}
	}

	@media screen and (min-width:767px) {
		.schedule-item-date {
			margin-left: 23%;
			margin-right: 20px;
		}
	}

	@media screen and (min-width:995px) {
		.schedule-item-date {
			margin-left: 33%;
		}
	}
}

////////////////////
/////   Q&A    /////
////////////////////

#qna {
	background: $main_color;
	padding-bottom: 50px;

	.question {
		margin-bottom: 50px;

		.q {
			color: $sub_text_color;
		}
	}
}

#detail {
	li, p {
		text-align: left;
		line-height: 1.7;
		font-size: 15px;
	}

	.icon {
		margin-right: 10px;
		color: $main_color;
	}

	.card-parent {
		padding: 0;
	}

	.card {
		padding: 10px;
		border-radius: 5px;
		border: 1px solid $main_color;
		margin: 0 5px 30px 5px;
	}

	@media screen and (min-width:995px) {
		.card {
		  height: 350px;
			padding: 20px;
		}
	}

	@media screen and (max-width:994px) {
		.card {
		  height: 250px;
		}
	}

	@media screen and (max-width:766px) {
		.card {
		  margin: 0 20px 30px 20px;
			height: auto;
		}
	}

}

////////////////////
/////   Entry   ////
////////////////////

#entry {
	padding-bottom: 50px;
}

////////////////////
/////   Clubs   ////
////////////////////

#clubs {
	background: $main_color;
	padding-bottom: 50px;

	p {
		text-align: left;
		line-height: 1.7;
		font-size: 15px;
	}

	.jizi {
		width: 70%;
	}

	.card-parent {
		padding: 0;
	}

	.card {
		padding: 20px;
		border-radius: 5px;
		background-color: white;
		margin: 0 5px 30px 5px;
	}

	@media screen and (min-width:995px) {
		.card {
		  height: 660px;
		}
	}

	@media screen and (max-width:994px) {
		.card {
		  height: 660px;
		}
	}

	@media screen and (max-width:766px) {
		.card {
		  margin: 0 20px 30px 20px;
			height: auto;
		}
	}

}
