body {
  font-family: 'NotoSans-Regular'; }

h1, h2, h3, p, li {
  color: #444; }

h1 {
  margin: 50px 0 50px 0; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 16px;
  font-weight: bold; }

p, li {
  font-size: 18px; }

a {
  color: #e18f9b; }
  a:hover, a:active {
    color: #e5c5ca; }

.emphasis {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.15em; }

.main-color {
  color: #e18f9b; }

footer {
  padding: 10px;
  margin-top: 10px; }
  footer span {
    font-family: 'Courgette', cursive; }
  footer .titamas {
    display: block;
    text-align: center;
    margin: 0 auto; }
    footer .titamas img {
      height: 60px; }

.text-center {
  text-align: center; }

.navbar {
  background-color: white; }
  .navbar .navbar-brand {
    font-family: 'Courgette', cursive;
    color: #e18f9b; }
  .navbar .navbar-position {
    position: relative;
    margin: 0 auto; }
  .navbar .navbar-nav .twitter {
    color: #00aced !important; }
  .navbar .navbar-nav a {
    font-size: 13px;
    color: #444 !important; }
    .navbar .navbar-nav a:hover {
      color: #e18f9b !important; }
  .navbar li.twitter {
    margin: 10px 10px 0 10px; }
  @media screen and (max-width: 766px) {
    .navbar .navbar-nav a {
      font-size: 20px;
      text-align: center; }
    .navbar li iframe {
      display: block;
      margin: 0 auto; } }

#intro {
  margin-top: 50px; }
  #intro .headerImage {
    width: 100%; }

#info {
  padding-bottom: 50px; }
  #info p {
    line-height: 1.7; }
  @media screen and (max-width: 766px) {
    #info p {
      text-align: left; } }

#outline {
  background: #e18f9b;
  padding-bottom: 50px; }
  #outline .icon {
    margin-right: 10px;
    color: #e18f9b; }
  #outline li {
    text-align: left;
    line-height: 1.7;
    font-size: 15px; }
  #outline .ggmap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden; }
    #outline .ggmap iframe, #outline .ggmap object, #outline .ggmap embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  #outline .card-parent {
    padding: 0; }
  #outline .card {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    margin: 0 5px 30px 5px; }
  @media screen and (min-width: 995px) {
    #outline .card {
      height: 400px; } }
  @media screen and (max-width: 994px) {
    #outline .card {
      height: 380px; } }
  @media screen and (max-width: 766px) {
    #outline .card {
      margin: 0 20px 30px 20px;
      height: auto; } }

#results .icon {
  margin-right: 10px;
  color: #e18f9b; }

#results .thumbnail img {
  margin-left: 0;
  margin-right: 0;
  width: 100%; }

#results .thumbnail {
  height: auto; }

@media screen and (min-width: 995px) {
  #results .thumbnail {
    height: 760px; } }

@media screen and (max-width: 994px) {
  #results .thumbnail {
    height: 740px; } }

@media screen and (max-width: 766px) {
  #results .thumbnail img {
    margin: 0 auto; }
  #results .thumbnail {
    height: auto; } }

@media screen and (min-width: 1200px) {
  #results .thumbnail {
    height: 800px; } }

#results .winner {
  font-size: 30px;
  margin-right: 5px;
  color: goldenrod; }

#results .name {
  font-size: 30px; }

#results .desc {
  margin-bottom: 0; }

#results .title {
  margin-top: 20px;
  margin-bottom: 0; }

#results .comment {
  text-align: left;
  margin-top: 5px;
  font-size: 14px; }

#schedule {
  background: #e18f9b;
  padding-bottom: 50px; }
  #schedule .icon {
    vertical-align: middle;
    font-size: 50px;
    color: #f5f5f5; }
  #schedule .winner {
    font-size: 30px;
    margin-right: 5px;
    color: goldenrod; }
  #schedule .list-group {
    margin-bottom: 0; }
  #schedule .schedule-item-date {
    background-color: #e5c5ca;
    border-radius: 75px;
    padding: 20px;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    float: left; }
    #schedule .schedule-item-date .start {
      margin-top: 30px; }
    #schedule .schedule-item-date .final {
      margin-top: 45px; }
  #schedule .schedule-item-content {
    margin-top: 40px;
    float: left; }
  @media screen and (max-width: 766px) {
    #schedule .schedule-item-content {
      float: none; }
    #schedule .schedule-item-date {
      float: none;
      margin: 0 auto; } }
  @media screen and (min-width: 767px) {
    #schedule .schedule-item-date {
      margin-left: 23%;
      margin-right: 20px; } }
  @media screen and (min-width: 995px) {
    #schedule .schedule-item-date {
      margin-left: 33%; } }

#qna {
  background: #e18f9b;
  padding-bottom: 50px; }
  #qna h3 {
    font-size: 20px; }
  #qna .question {
    margin-bottom: 50px; }
    #qna .question .q {
      color: #f5f5f5; }

#detail li, #detail p {
  text-align: left;
  line-height: 1.7;
  font-size: 15px; }

#detail .icon {
  margin-right: 10px;
  color: #e18f9b; }

#detail .card-parent {
  padding: 0; }

#detail .card {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e18f9b;
  margin: 0 5px 30px 5px; }

@media screen and (min-width: 995px) {
  #detail .card {
    height: 350px;
    padding: 20px; } }

@media screen and (max-width: 994px) {
  #detail .card {
    height: 250px; } }

@media screen and (max-width: 766px) {
  #detail .card {
    margin: 0 20px 30px 20px;
    height: auto; } }

#entry {
  padding-bottom: 50px; }
  #entry .btn-default {
    margin-top: 20px;
    padding: 20px;
    font-size: 30px;
    background: #e18f9b;
    border: none;
    color: white; }
    #entry .btn-default:hover, #entry .btn-default:active, #entry .btn-default:link, #entry .btn-default:visited {
      color: white !important;
      background: #e5c5ca !important; }

#clubs {
  background: #e18f9b;
  padding-bottom: 50px; }
  #clubs p {
    text-align: left;
    line-height: 1.7;
    font-size: 15px; }
  #clubs .jizi {
    width: 70%; }
  #clubs .copyright {
    font-size: 10px;
    font-family: 'migmix-1p'; }
  #clubs .card-parent {
    padding: 0; }
  #clubs .card {
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    margin: 0 5px 30px 5px; }
  @media screen and (min-width: 995px) {
    #clubs .card {
      height: 580px; } }
  @media screen and (max-width: 994px) {
    #clubs .card {
      height: 570px; } }
  @media screen and (max-width: 766px) {
    #clubs .card {
      margin: 0 20px 30px 20px;
      height: auto; } }
